#content-root {
    margin: 10px;
}

.fleet-id-indicator {
    font-weight: bolder;
    color: white;
    font-family: serif;
    text-shadow:
    -1px -1px 0 lightseagreen,
    1px -1px 0 lightseagreen,
    -1px 1px 0 lightseagreen,
    1px 1px 0 lightseagreen;
    -webkit-font-smoothing: antialiased;
}

.goal-list > .list-group-item {
    padding: 6px;
}

.three-rows {
    display: flex;
    flex-direction: column;
}

.three-rows > .second-row {
    font-size: 18px;
    font-weight: bold;
}

.three-rows > .third-row {
    font-size: 10px;
}

.three-rows > .second-row,
.three-rows > .third-row {
    padding-left: 5px;
}

.goal-box-view .first-row {
    font-size: 12px;
}

.goal-box-edit .edit-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.goal-box-edit .edit-control button {
    width: 8%;
    margin-left: 5px;
    margin-top: 5px;
}

.goal-box-edit .panels {
    margin-top: 5px;
    display: flex;
}

.goal-box-edit .panels > .panel {
    margin: 5px;
}

.goal-box-edit .panels > .panel.lvl-goal {
    flex: 1;
}

.goal-box-edit .panels > .panel.lvl-method {
    flex: 3;
}

.goal-box-edit .panels > .panel .panel-heading {
    padding: 2px 5px;
}

.goal-box-edit .panels > .panel.lvl-goal .lvl-goal-input {
}

.goal-box-edit .panels .lvl-method-input {
    display: flex;
}

.checkbox {
    user-select: none;
}

.goal-box-edit .exp-value-edit {
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.goal-box-edit .exp-value-edit > * {
    margin: 5px;
}

.goal-box-edit .custom-edit {
    height: 100%;
}

.goal-box-edit .custom-edit > .exp-value-edit {
    height: 100%;
}

