*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "WenQuanYi Micro Hei", "Microsoft YaHei", "Droid Sans Fallback", sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

.panel.lvl-method .lvl-method-input {
    display: flex;
}

.checkbox, .table th {
    user-select: none;
}

.panel.lvl-method .exp-value-edit {
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.panel.lvl-method .exp-value-edit > * {
    margin: 5px;
}

.panel.lvl-method .sortie-edit,
.panel.lvl-method .custom-edit {
    height: 100%;
}

.panel.lvl-method .custom-edit > .exp-value-edit {
    height: 100%;
}

.panel.lvl-method .sortie-edit {
    flex-direction: column;
    padding: 10px;
}

.panel.lvl-method .sortie-edit .sortie-misc {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.panel.lvl-method .sortie-edit .base-exp-row > * ,
.panel.lvl-method .sortie-edit .sortie-misc > * ,
.panel.lvl-method .sortie-edit .rank-row > *{
    margin: 5px;
}

.panel.lvl-method .sortie-edit .sortie-misc > select {
    width: auto;
}

.panel.lvl-method .sortie-edit .rank-row {
    display: flex;
    align-items: center;
}

.panel.lvl-method .sortie-edit .base-exp-row {
    display: flex;
    align-items: baseline;
}

.goal-list.list-group {
    margin-bottom: 10px;
}

.filter-group > * {
    margin-right: 8px;
    width: 20%;
}

.lvl-goal.panel .goal-inp-row {
    display: flex;
    align-items: baseline;
}

.lvl-goal.panel .goal-inp-row > * {
    margin-right: 8px;
}

.lvl-goal.panel .list-group.rgoal-list {
    margin-top: 10px;
    margin-bottom: 0;
}

.lvl-goal.panel .list-group.rgoal-list .list-group-item {
    padding: 5px;
}

.lvl-goal.panel .list-group.rgoal-list .qg-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ship-filter-bg-level .dropdown-menu {
    min-width: 200px;
}

.goal-sorter-row {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.goal-sorter-row > * {
    margin-top: 0;
    margin-right: 5px;
    min-width: 10%;
}

.main-nav {
    margin-bottom: 10px;
}

.template-box .template-view .template-controls button {
    margin-top: 0;
}

.template-box .template-view .template-controls > *:not(:last-child) {
    margin-right: 1%;
}

.template-box .template-view .template-controls {
    display: flex;
    justify-content: space-between;
}

.template-box .template-view .template-controls .dropdown-apply-to.btn-group-justified {
    display: block;
}

.template-box .template-view .template-info-view {
    display: flex;
    margin-bottom: 5px;
}

.template-box .template-view .template-info-view > .stype-col {
    flex: 6;
}

.template-box .template-view .template-info-view > .method-col {
    flex: 3;
}

.template-box .template-view .template-info-view > .method-col .main {
    font-size: 18px;
    font-weight: bold;
}

.template-box .template-view .template-info-view > .method-col .second {
    font-size: 14px;
}

.template-box .template-view .template-info-view > * > .content {
    margin-left: 5px;
}

.template-box .template-view .template-info-view > * > .header {
    font-size: 14px;
}

.template-box .template-view .template-info-view .stype-content {
    display: flex;
    flex-wrap: wrap;
}

.template-box .template-view .template-info-view .stype-content > .stype-element {
    width: 18%;
}

.panel.stype .panel-body {
    display: flex;
    flex-direction: column;
}

.panel.stype .panel-body > * {
    margin-bottom: 12px;
}

#leveling-main ul[role="tablist"].nav.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#leveling-main ul[role="tablist"].nav.nav-tabs > li {
    flex: 1;
    text-align: center;
}

.theme-darkly .color-altering-row:nth-of-type(odd) {
    background-color: #3d3d3d;
}

.theme-slate .color-altering-row:nth-of-type(odd) {
    background-color: #353a41;
}

.theme-superhero .color-altering-row:nth-of-type(odd) {
    background-color: #4e5d6c;
}

.theme-superhero .color-altering-row:nth-of-type(even) {
    background-color: rgba(78, 93, 108, 0.6);
}

.theme-lumendark .color-altering-row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.theme-paperdark .color-altering-row:nth-of-type(odd) {
    background-color: #3d3d3d;
}

.theme-papercyan .color-altering-row:nth-of-type(odd) {
    background-color: #222222;
}

.theme-papercyan .color-altering-row:nth-of-type(even) {
    background-color: rgba(34, 34, 34, 0.6);
}

.theme-paperblack .color-altering-row:nth-of-type(odd) {
    background-color: #424242;
}

.theme-paperblack .color-altering-row:nth-of-type(even) {
    background-color: rgba(66, 66, 66, 0.6);
}

.theme-darklykai .color-altering-row:nth-of-type(odd) {
    background-color: #3d3d3d;
}

#leveling-main-tab-misc {
    height: 100%;
    padding-left: 1.8em;
    padding-right: 1.8em;
}

#leveling-main .ReactVirtualized__Table__headerRow {
    text-transform: none;
}
