#content-root {
    margin: 10px;
}

.fleet-id-indicator {
    font-weight: bolder;
    color: white;
    font-family: serif;
    text-shadow:
    -1px -1px 0 lightseagreen,
    1px -1px 0 lightseagreen,
    -1px 1px 0 lightseagreen,
    1px 1px 0 lightseagreen;
    -webkit-font-smoothing: antialiased;
}

.goal-list > .list-group-item,
.template-list > .list-group-item {
    padding: 6px;
}

.three-rows {
    display: flex;
    flex-direction: column;
}

.three-rows > .second-row {
    font-size: 18px;
    font-weight: bold;
}

.three-rows > .third-row {
    font-size: 10px;
}

.three-rows > .second-row,
.three-rows > .third-row {
    padding-left: 5px;
}

.goal-box-view .first-row {
    font-size: 12px;
}

.goal-box-edit .edit-control,
.template-box-edit .edit-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.goal-box-edit .edit-control button,
.template-box-edit .edit-control button {
    margin-left: 5px;
    margin-top: 5px;
}

.goal-box-edit .edit-control button {
    width: 8%;
}

.goal-box-edit .edit-control .ship-stat-preview {
    font-size: 15px;
}

.template-box-edit .edit-control button {
    width: 12%;
}

.goal-box-edit .panels,
.template-box-edit .panels {
    margin-top: 5px;
    display: flex;
}

.goal-box-edit .panels > .panel,
.template-box-edit .panels > .panel {
    margin: 5px;
}

.goal-box-edit .panels > .panel.lvl-goal {
    flex: 1;
}

.goal-box-edit .panels > .panel.lvl-method {
    flex: 3;
}

.template-box-edit .panels > .panel.stype {
    flex: 1;
}

.template-box-edit .panels > .panel.lvl-method {
    flex: 3;
}

.goal-box-edit .panels > .panel .panel-heading,
.template-box-edit .panels > .panel .panel-heading {
    padding: 2px 5px;
}

.goal-box-edit .panels > .panel.lvl-goal .lvl-goal-input {
}

.panel.lvl-method .lvl-method-input {
    display: flex;
}

.checkbox, .table th {
    user-select: none;
}

.panel.lvl-method .exp-value-edit {
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.panel.lvl-method .exp-value-edit > * {
    margin: 5px;
}

.panel.lvl-method .sortie-edit,
.panel.lvl-method .custom-edit {
    height: 100%;
}

.panel.lvl-method .custom-edit > .exp-value-edit {
    height: 100%;
}

.panel.lvl-method .sortie-edit {
    flex-direction: column;
    padding: 10px;
}

.panel.lvl-method .sortie-edit .sortie-misc {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.panel.lvl-method .sortie-edit .base-exp-row > * ,
.panel.lvl-method .sortie-edit .sortie-misc > * ,
.panel.lvl-method .sortie-edit .rank-row > *{
    margin: 5px;
}

.panel.lvl-method .sortie-edit .sortie-misc > select {
    width: auto;
}

.panel.lvl-method .sortie-edit .rank-row {
    display: flex;
    align-items: center;
}

.panel.lvl-method .sortie-edit .base-exp-row {
    display: flex;
    align-items: baseline;
}

.goal-list.list-group {
    margin-bottom: 10px;
}

.filter-group {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-group > * {
    margin-right: 8px;
    width: 20%;
}

.lvl-goal.panel .goal-inp-row {
    display: flex;
    align-items: baseline;
}

.lvl-goal.panel .goal-inp-row > * {
    margin-right: 8px;
}

.lvl-goal.panel .list-group.rgoal-list {
    margin-top: 10px;
    margin-bottom: 0;
}

.lvl-goal.panel .list-group.rgoal-list .list-group-item {
    padding: 5px;
}

.lvl-goal.panel .list-group.rgoal-list .qg-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ship-filter-bg-level .dropdown-menu {
    min-width: 200px;
}

.goal-sorter-row {
    margin-bottom: 8px;
    display: flex;
}

.goal-sorter-row > * {
    margin-top: 0;
    margin-right: 5px;
    min-width: 10%;
}

.main-nav {
    margin-bottom: 10px;
}

.template-box .template-view .template-controls button {
    margin-top: 0;
}

.template-box .template-view .template-controls > *:not(:last-child) {
    margin-right: 1%;
}

.template-box .template-view .template-controls {
    display: flex;
    justify-content: space-between;
}

.template-box .template-view .template-controls .dropdown-apply-to.btn-group-justified {
    display: block;
}

.template-box .template-view .template-info-view {
    display: flex;
    margin-bottom: 5px;
}

.template-box .template-view .template-info-view > .stype-col {
    flex: 6;
}

.template-box .template-view .template-info-view > .method-col {
    flex: 3;
}

.template-box .template-view .template-info-view > .method-col .main {
    font-size: 18px;
    font-weight: bold;
}

.template-box .template-view .template-info-view > .method-col .second {
    font-size: 14px;
}

.template-box .template-view .template-info-view > * > .content {
    margin-left: 5px;
}

.template-box .template-view .template-info-view > * > .header {
    font-size: 14px;
}

.template-box .template-view .template-info-view .stype-content {
    display: flex;
    flex-wrap: wrap;
}

.template-box .template-view .template-info-view .stype-content > .stype-element {
    width: 18%;
}

.panel.stype .panel-body {
    display: flex;
    flex-direction: column;
}

.panel.stype .panel-body > * {
    margin-bottom: 12px;
}

.method-template-area .template-top-btns {
    display: flex;
}

.method-template-area .template-top-btns > * {
    margin-top: 0;
    margin-bottom: 8px;
}

.method-template-area .template-top-btns > *:not(:last-child) {
    margin-right: 10px;
}
